<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/external/bootstrap-3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/external/bootstrap-3.1.1/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="/external/jquery-ui-1.10.4/css/smoothness/jquery-ui-1.10.4.custom.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
    <script src="/external/jquery/jquery-2.1.0.min.js"></script>
    <script src="/external/typeahead/typeahead.bundle.js"></script>
    <script src="/external/bootstrap-3.1.1/js/bootstrap.min.js"></script>

    {% block js %}{% endblock %}
    {% block css %}{% endblock %}
</head>
<body>
    {% include 'includes/header.html'%}
    <div id="main" class="container">
        {% block content %}{% endblock %}
    </div>
    {% include 'includes/footer.html'%}
</body>
</html>