{% extends 'base.html' %}

{% block title %}Company{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/external/morris.js-0.4.3/morris.css"/>
    <link rel="stylesheet" href="/stylesheets/company.css"/>
{% endblock %}

{% block js %}
    <script src="/external/morris.js-0.4.3/morris.min.js"></script>
    <script src="/external/raphael/raphael-min.js"></script>
    <script src="/javascripts/company-chart.js"></script>
{% endblock %}

{% block content %}
<div class="company">
    <div class="text-center company-name">{{data.name}}</div>
    <div id="company-chart" class="chart"></div>
    <div class="company-info table-responsive">
        <table class="table table-hover table-bordered">
            <tr>
                <th>Year</th>
                <th>Mark</th>
                <th>k1</th>
                <th>k2</th>
                <th>k3</th>
                <th>k4</th>
                <th>k5</th>
                <th>k6</th>
                <th>k7</th>
                <th>k8</th>
                <th>k9</th>
                <th>k10</th>
                <th>k11</th>
                <th>k12</th>
                <th>k13</th>
            </tr>
            {% for year_info in data.info %}
                <tr>
                    <td class="year">{{year_info.year}}</td>
                    <td class="mark {% if year_info.mark > 96 %}success{% elseif year_info.mark > 67 %}active{% elseif year_info.mark > 37 %}info{% elseif year_info.mark > 11 %}warning{% else %}danger{% endif %}">{{year_info.mark}}</td>
                    <td>{{year_info.k.k1}}</td>
                    <td>{{year_info.k.k2}}</td>
                    <td>{{year_info.k.k3}}</td>
                    <td>{{year_info.k.k4}}</td>
                    <td>{{year_info.k.k5}}</td>
                    <td>{{year_info.k.k6}}</td>
                    <td>{{year_info.k.k7}}</td>
                    <td>{{year_info.k.k8}}</td>
                    <td>{{year_info.k.k9}}</td>
                    <td>{{year_info.k.k10}}</td>
                    <td>{{year_info.k.k11}}</td>
                    <td>{{year_info.k.k12}}</td>
                    <td>{{year_info.k.k13}}</td>
                </tr>
            {% endfor %}

        </table>
    </div>
</div>
{% endblock %}