{% extends 'base.html' %}

{% block title %}Company{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/external/morris.js-0.4.3/morris.css"/>
    <link rel="stylesheet" href="/stylesheets/company.css"/>
{% endblock %}

{% block js %}
    <script src="/external/morris.js-0.4.3/morris.min.js"></script>
    <script src="/external/raphael/raphael-min.js"></script>
    <script src="/javascripts/company-chart.js"></script>
{% endblock %}

{% block content %}
<div class="company">
    <div class="text-center company-name">{{data.name}}</div>
    <div id="company-chart" class="chart"></div>
    <div class="company-info table-responsive">
        <table class="table table-hover table-bordered">
            <tr>
                <th>Год</th>
                <th>Оценка</th>
                <th>k1</th>
                <th>k2</th>
                <th>k3</th>
                <th>k4</th>
                <th>k5</th>
                <th>k5</th>
                <th>k7</th>
                <th>k8</th>
                <th>k9</th>
                <th>k10</th>
            </tr>
            {% for year_info in data.info %}
                <tr>
                    <td class="year">{{year_info.year}}</td>
                    <td class="mark {% if year_info.mark > 96 %}success{% elseif year_info.mark > 67 %}active{% elseif year_info.mark > 37 %}info{% elseif year_info.mark > 11 %}warning{% else %}danger{% endif %}">{{year_info.mark}}</td>
                    <td>{{year_info.k.k1}}</td>
                    <td>{{year_info.k.k2}}</td>
                    <td>{{year_info.k.k3}}</td>
                    <td>{{year_info.k.k4}}</td>
                    <td>{{year_info.k.k5}}</td>
                    <td>{{year_info.k.k6}}</td>
                    <td>{{year_info.k.k7}}</td>
                    <td>{{year_info.k.k8}}</td>
                    <td>{{year_info.k.k9}}</td>
                    <td>{{year_info.k.k10}}</td>
                </tr>
            {% endfor %}

        </table>
    </div>
    <div class="help">
        <div class="row">
            <div class="col-xs-1">k1</div>
            <div class="col-xs-11">Общий показатель ликвидности</div>
        </div>
        <div class="row">
            <div class="col-xs-1">k2</div>
            <div class="col-xs-11">Коэф. абсолютной ликвидности</div>
        </div>
        <div class="row">
            <div class="col-xs-1">k3</div>
            <div class="col-xs-11">Коэф. «критической оценки»</div>
        </div>
        <div class="row">
            <div class="col-xs-1">k4</div>
            <div class="col-xs-11">Коэф. текущей ликвидности</div>
        </div>
        <div class="row">
            <div class="col-xs-1">k5</div>
            <div class="col-xs-11">Коэф. маневренности функционирующего капитала</div>
        </div>
        <div class="row">
            <div class="col-xs-1">k6</div>
            <div class="col-xs-11">Коэф. обеспеченности собственными средствами</div>
        </div>
        <div class="row">
            <div class="col-xs-1">k7</div>
            <div class="col-xs-11">Коэф. автономии</div>
        </div>
        <div class="row">
            <div class="col-xs-1">k8</div>
            <div class="col-xs-11">Коэф. соотношения заемных и собственных средств</div>
        </div>
        <div class="row">
            <div class="col-xs-1">k9</div>
            <div class="col-xs-11">Коэф. обеспеченности собственными средствами</div>
        </div>
        <div class="row">
            <div class="col-xs-1">k10</div>
            <div class="col-xs-11">Коэф. финансовой устойчивости</div>
        </div>
    </div>
</div>
{% endblock %}