{% extends 'base.html' %}

{% block title %}Company{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/external/morris.js-0.4.3/morris.css"/>
    <link rel="stylesheet" href="/stylesheets/company.css"/>
{% endblock %}

{% block js %}
    <script src="/external/morris.js-0.4.3/morris.min.js"></script>
    <script src="/external/raphael/raphael-min.js"></script>
    <script src="/javascripts/company-chart.js"></script>
{% endblock %}

{% block content %}
<div class="company">
    <div class="text-center company-name">{{data.companyName}}</div>
    <div id="company-chart" class="chart"></div>
    <div class="company-info table-responsive">
        <table class="table table-hover table-bordered">
            <tr>
                <th>Год</th>
                <th>Оценка</th>
                <th>k1</th>
                <th>k2</th>
                <th>k3</th>
                <th>k4</th>
                <th>k5</th>
                <th>k5</th>
                <th>k7</th>
                <th>k8</th>
                <th>k9</th>
                <th>k10</th>
            </tr>
            {% for year_result in data.result %}
                <tr>
                    <td class="year">{{year_result.year}}</td>
                    <td class="mark
                    {% if year_result.corporationClass.result > 96 %}
                    success
                    {% elseif year_result.corporationClass.result > 67 %}
                    active
                    {% elseif year_result.corporationClass.result > 37 %}
                    info{% elseif year_result.corporationClass.result > 11 %}
                    warning
                    {% else %}danger{% endif %}">
                        {{year_result.corporationClass.result}}
                    </td>
                    {% for mykey,myvalue in year_result.calculationResult %}
                        <td>{{ myvalue }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}

        </table>
    </div>
    <div class="help">
        <div class="row">
            <div class="col-xs-1">k1</div>
            <div class="col-xs-11">Общий показатель ликвидности</div>
        </div>
        <div class="row">
            <div class="col-xs-1">k2</div>
            <div class="col-xs-11">Коэф. абсолютной ликвидности</div>
        </div>
        <div class="row">
            <div class="col-xs-1">k3</div>
            <div class="col-xs-11">Коэф. «критической оценки»</div>
        </div>
        <div class="row">
            <div class="col-xs-1">k4</div>
            <div class="col-xs-11">Коэф. текущей ликвидности</div>
        </div>
        <div class="row">
            <div class="col-xs-1">k5</div>
            <div class="col-xs-11">Коэф. маневренности функционирующего капитала</div>
        </div>
        <div class="row">
            <div class="col-xs-1">k6</div>
            <div class="col-xs-11">Коэф. обеспеченности собственными средствами</div>
        </div>
        <div class="row">
            <div class="col-xs-1">k7</div>
            <div class="col-xs-11">Коэф. автономии</div>
        </div>
        <div class="row">
            <div class="col-xs-1">k8</div>
            <div class="col-xs-11">Коэф. соотношения заемных и собственных средств</div>
        </div>
        <div class="row">
            <div class="col-xs-1">k9</div>
            <div class="col-xs-11">Коэф. обеспеченности собственными средствами</div>
        </div>
        <div class="row">
            <div class="col-xs-1">k10</div>
            <div class="col-xs-11">Коэф. финансовой устойчивости</div>
        </div>
    </div>
</div>
{% endblock %}