{% extends 'base.html' %}

{% block title %}Index{% endblock %}
{% block css %}
<link rel="stylesheet" href="/stylesheets/index.css"/>
{% endblock %}
        
{% block js %}
    <script src="/javascripts/index-typeahead.js"></script>
{% endblock %}

{% block content %}
<form class="navbar-form" role="search" action="/company">
    <div class="input-group" id="names">
      <input type="text" class="form-control typeahead" name="name">
      <span class="input-group-btn">
          <input class="btn" type="submit" value="Search">
      </span>
    </div><!-- /input-group -->
</form>

{% endblock %}