@import '../fonts/open-sans/stylesheet.css';


html, body, button, input, textarea {
  font-family: 'open sans';
  font-size: 12pt;
}

html, body {
  height: 100%;
}

#footer{
  padding:20px 0;
  min-height: 40px;
  background: #303030;
  color:#ffffff;
  font-weight: bold;
  font-size: 12pt;
}
#header{
  min-height: 50px;
  padding:10px;
  background: #303030;
  font-weight: bold;
  color:#ffffff;
  a{
    color:#ffffff;
    text-decoration:none;
    outline: 0;
  }
  .logo{
    font-size: 24pt;
  }
  .nav-element{
    padding-top:10px;
  }
}

#main{
  min-height: 86%;
  padding: 50px 0 50px 0;
}